<section>
    <div class="container" id="galeria">
        <div class="row">
            <section class="px-fancy-heading text-center">
                <div class="col-md-12">
                    <div class="px-spreater">
                        <div class="box-spreater"><i class="icon-camera5"></i></div>
                    </div>
                    <h2>Performences Gallery</h2>
                    <p>Snow Patrol's new album, Fallen Empires, arrives with a serious reputation attached. The Irish/Scottish five piece have sold over.</p>
                </div>
            </section>
        </div>
    </div>
</section>

<section class="px-grally fancy-grally">
    <div class="col-md-12">
        <div class="row ml-1">
            <article class="col-md-2.4">
                <figure class="effect-selena"><img src="assets/extra-images/grall-img-1.jpg" alt="" />
                    <figcaption>
                        <div class="px-text">
                            <i class="icon-camera5"></i>
                            <a href="index.html#">8Photos</a>
                            <span>Amazing Music Concert <em>in Dubai</em></span>
                        </div>
                    </figcaption>
                </figure>
            </article>
            <article class="col-md-2.4">
                <figure class="effect-selena"><img src="assets/extra-images/grall-img-2.jpg" alt="" />
                    <figcaption>
                        <div class="px-text">
                            <i class="icon-camera5"></i>
                            <a href="index.html#">8Photos</a>
                            <span>Amazing Music Concert <em>in Dubai</em></span>
                        </div>
                    </figcaption>
                </figure>
            </article>
            <article class="col-md-2.4">
                <figure class="effect-selena"><img src="assets/extra-images/grall-img-3.jpg" alt="" />
                    <figcaption>
                        <div class="px-text">
                            <i class="icon-camera5"></i>
                            <a href="index.html#">8Photos</a>
                            <span>Amazing Music Concert <em>in Dubai</em></span>
                        </div>
                    </figcaption>
                </figure>
            </article>
            <article class="col-md-2.4">
                <figure class="effect-selena"><img src="assets/extra-images/grall-img-4.jpg" alt="" />
                    <figcaption>
                        <div class="px-text">
                            <i class="icon-camera5"></i>
                            <a href="index.html#">8Photos</a>
                            <span>Amazing Music Concert <em>in Dubai</em></span>
                        </div>
                    </figcaption>
                </figure>
            </article>
            <article class="col-md-2.4">
                <figure class="effect-selena"><img src="assets/extra-images/grall-img-5.jpg" alt="" />
                    <figcaption>
                        <div class="px-text">
                            <i class="icon-camera5"></i>
                            <a href="index.html#">8Photos</a>
                            <span>Amazing Music Concert <em>in Dubai</em></span>
                        </div>
                    </figcaption>
                </figure>
            </article>
            <article class="col-md-2.4">
                <figure class="effect-selena"><img src="assets/extra-images/grall-img-6.jpg" alt="" />
                    <figcaption>
                        <div class="px-text">
                            <i class="icon-camera5"></i>
                            <a href="index.html#">8Photos</a>
                            <span>Amazing Music Concert <em>in Dubai</em></span>
                        </div>
                    </figcaption>
                </figure>
            </article>
            <article class="col-md-2.4">
                <figure class="effect-selena"><img src="assets/extra-images/grall-img-7.jpg" alt="" />
                    <figcaption>
                        <div class="px-text">
                            <i class="icon-camera5"></i>
                            <a href="index.html#">8Photos</a>
                            <span>Amazing Music Concert <em>in Dubai</em></span>
                        </div>
                    </figcaption>
                </figure>
            </article>
            <article class="col-md-2.4">
                <figure class="effect-selena"><img src="assets/extra-images/grall-img-8.jpg" alt="" />
                    <figcaption>
                        <div class="px-text">
                            <i class="icon-camera5"></i>
                            <a href="index.html#">8Photos</a>
                            <span>Amazing Music Concert <em>in Dubai</em></span>
                        </div>
                    </figcaption>
                </figure>
            </article>
            <article class="col-md-2.4">
                <figure class="effect-selena"><img src="assets/extra-images/grall-img-9.jpg" alt="" />
                    <figcaption>
                        <div class="px-text">
                            <i class="icon-camera5"></i>
                            <a href="index.html#">8Photos</a>
                            <span>Amazing Music Concert <em>in Dubai</em></span>
                        </div>
                    </figcaption>
                </figure>
            </article>
            <article class="col-md-2.4">
                <figure class="effect-selena"><img src="assets/extra-images/grall-img-10.jpg" alt="" />
                    <figcaption>
                        <div class="px-text">
                            <i class="icon-camera5"></i>
                            <a href="index.html#">8Photos</a>
                            <span>Amazing Music Concert <em>in Dubai</em></span>
                        </div>
                    </figcaption>
                </figure>
            </article>
        </div>
    </div>
</section>

<br>
<br>