<section class="fondo">
    <div class="container">
        <div class="row">
            <section class="px-biography">
                <article>
                    <div class="px-text">
                        <div class="main-heading fuente">
                            <h2>BIOGRAFÍA</h2>
                        </div>
                        <h3>No nací músico ni viví rodeado de ella. Fui encontrando a la música con cada paso.</h3>
                        <h3>He encontrado en acordes y melodías autodidactas la paz del momento. Soy un venezolano que no busca trascender en la escena sino compartir lo poco que he hecho con aquel que así lo quiera. No vivo de la música pero tampoco puedo
                            vivir sin ella.
                        </h3>
                        <!--<a href="#secction" data-toggle="collapse" class="px-botton">Read more</a>
                        <div class="collapse" id="secction">
                            <br>
                            <div class="well">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia cumque, fuga pariatur voluptatem cum sint eum totam perspiciatis natus aliquid, aspernatur hic unde doloremque quas reiciendis. Vero iusto odit amet.</p>
                            </div>
                        </div>-->

                    </div>
                </article>
                <article>
                    <figure><img src="assets/extra-images/Sixto-disco.jpg" class="img-fluid" alt="" /></figure>
                </article>
            </section>
        </div>
    </div>
    <!--</section>-->


    <section class="px-team-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-heading">
                        <h2>Artistas con los que he colaborado</h2>
                    </div>
                    <div class="px-team team-grid">
                        <div class="row">
                            <article class="col-md-3">
                                <figure class="effect-selena">
                                    <a href=""><img src="assets/extra-images/carlos.jpg" alt="" /></a>
                                    <figcaption>
                                        <div class="px-info">
                                            <ul>
                                                <li>
                                                    <a href="https://www.facebook.com/carlos.delima.7773" class="icon-facebook2" data-original-title="Facebook"></a>
                                                </li>
                                                <li>
                                                    <a href="https://www.twitter.com/carlosedelima/" class="icon-twitter2" data-original-title="twitter"></a>
                                                </li>
                                                <li>
                                                    <a href="https://www.instagram.com/carlosedelima/" class="icon-instagram instagram" data-original-title="instagram"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="px-text"> <a href="">Carlos Delima</a> <span>Guitarra</span> </div>
                            </article>
                            <article class="col-md-3">
                                <div class="px-holder">
                                    <figure class="effect-selena">
                                        <a href=""> <img src="assets/extra-images/goyo.jpg" alt="" /> </a>
                                        <figcaption>
                                            <div class="px-info">
                                                <ul>
                                                    <li>
                                                        <a href="https://www.facebook.com/gollo.rock/" class="icon-facebook2" data-original-title="Facebook"></a>
                                                    </li>
                                                    <li>
                                                        <a href="https://twitter.com/gollorock/" class="icon-twitter2" data-original-title="twitter"></a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.instagram.com/gollorock/" class="icon-instagram instagram" data-original-title="instagram"></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </figcaption>
                                    </figure>
                                    <div class="px-text"><a href="">“Gollo” Brito Landeau</a> <span>Productor y guitarrista</span> </div>
                                </div>
                            </article>
                            <article class="col-md-3">
                                <div class="px-holder">
                                    <figure class="effect-selena">
                                        <a href=""> <img src="assets/extra-images/rolan.jpg" alt="" /> </a>
                                        <figcaption>
                                            <div class="px-info">
                                                <ul>
                                                    <li>
                                                        <a href="https://www.facebook.com/rolan.zerpa.7" class="icon-facebook2" data-original-title="Facebook"></a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.instagram.com/rolanzc/" class="icon-instagram instagram" data-original-title="instagram"></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </figcaption>

                                    </figure>
                                    <div class="px-text"><a href="index.html#">Rolan Zerpa</a> <span>Baterista</span> </div>
                                </div>
                            </article>
                            <article class="col-md-3">
                                <div class="px-holder">
                                    <figure class="effect-selena">
                                        <a href=""> <img src="assets/extra-images/jose-andres.jpg" alt="" /> </a>
                                        <figcaption>
                                            <div class="px-info">
                                                <ul>
                                                    <li>
                                                        <a href="https://twitter.com/justjosh11/" class="icon-twitter2" data-original-title="twitter"></a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.instagram.com/justjoshlopez/" class="icon-instagram instagram" data-original-title="instagram"></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </figcaption>

                                    </figure>
                                    <div class="px-text"><a href="index.html#">Josh Lopez</a> <span>Guitarra y voces</span> </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>