<section id="musica">
    <div class="albumbanner">
        <section class="px-player">
            <div class="container">
                <div class="row px-0 mx-0">
                    <div class="col-md-4">

                        <figure class="margen">
                            <a>
                                <img class="img-fluid" src="assets/extra-images/Sixto.jpg" alt="" />
                            </a>
                        </figure>
                    </div>
                    <div class="col-md-8">
                        <div class="text">
                            <!--<a href="album-detail.html#" class="tracks-btn">Canciones</a>-->
                            <h2 class="mb-3">Canciones</h2>

                            <iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

                        </div>
                        <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
                            <div class="jp-type-playlist">

                                <div class="jp-playlist no2">
                                    <tr>
                                        <td> </td>

                                        <td>
                                        </td>
                                </div>
                                <div class="jp-no-solution"> <span>Update Required</span> To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>. </div>
                            </div>
                        </div>
                        <div class="social-icons">

                            <a href="album-detail.html#"><i class="icon-spotify2"></i></a>

                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="container">
        <div class="col-md-12">
            <h2>Video</h2>
            <br>
            <h3>Miel</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="assets/images/video.mp4" allowfullscreen></iframe>
            </div>
        </div>
    </div>

</section>
<!-- Main Start -->
<div id="main">

    <!-- <div class="container">
        <div class="row">
            <section class="album-detail">
                <div class="detail-holder">
                    <div class="video-sec" id="video">
                        <div class="px-section-title">
                            <div class="col-md-12">
                                <h3>Video</h3>
                                <br>
                                <p>Nombre de la cancion</p>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

-->

</div>

<div class="row px-0 mx-0">
    <div class="col-md-12">
        <table class="table mt-4 animated fadeIn faster table-striped table-dark table-responsive">
            <thead class="thead-inverse">

            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>


<!-- Main End -->