<section class="fondo" id="musica">
    <div class="albumbanner">
        <section class="px-player">
            <div class="container">
                <div class="row px-0 mx-0">
                    <div class="col-md-4">

                        <figure class="margen">
                            <a>
                                <img class="img-fluid" src="assets/extra-images/Sixto.jpg" alt="" />
                            </a>
                        </figure>
                    </div>
                    <div class="col-md-8">
                        <div class="text">
                            <!--<a href="album-detail.html#" class="tracks-btn">Canciones</a>-->
                            <h2 class="mb-3">Canciones</h2>

                            <iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

                        </div>
                        <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
                            <div class="jp-type-playlist">

                                <div class="jp-playlist no2">
                                    <tr>
                                        <td> </td>

                                        <td>
                                        </td>
                                </div>
                                <div class="jp-no-solution"> <span>Update Required</span> To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>. </div>
                            </div>
                        </div>
                        <div class="social-icons">

                            <a href="album-detail.html#"><i class="icon-spotify2"></i></a>

                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="container">
        <div class="col-md-12">
            <h2>Video</h2>
            <br>
            <!--<div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="assets/images/video.mp4" allowfullscreen></iframe>
            </div>-->
            <video class="embed-responsive embed-responsive-16by9" controls>
                <source class="embed-responsive-item"  src="assets/images/video.mp4" type="video/mp4">
                <source class="embed-responsive-item" src="assets/images/video.ogg" type="video/ogg">
              Your browser does not support the video tag.
              </video>
            <br>
            <h4>Nombre: "Miel"</h4>
            <h4>Letra: Sixto Martinez y Marco Prati</h4>
            <h4>Musica: Sixto Martinez</h4>
            <h4>Grabado por: Carlos Delima</h4>
        </div>
    </div>
    <br>

</section>