.prueba {
    background: red;
}

.tamano {
    width: 330px;
    height: 331px;
}

.margen {
    margin-top: 87px;
}

.video {
    width: 700px;
    height: 500px;
}

.fondo {
    background-color: #212121;
}