<!--<header id="header">
    <div class="container">
        <div class="row nav justify-content-center">
            <div class="logo">
                <!--<a href="index.html"><img src="assets/images/logo.png" alt="" /></a>

            </div>
            <div class="px-header-right" data-spy="scroll" data-target="#navbar-example2" data-offset="0">
                <div class="navigation">
                    <ul>
                        <li><a href='index.html'>Home</a></li>
                        <li> <a href='#musica'>Musica</a>
                        </li>
                        <li class=""><a href='#video'>Video</a></li>
                        <li><a href='#galeria'>Galeria</a></li>
                        <li><a href='#contacto'>CONTACT</a></li>
                    </ul>
                </div>
                <ul class="px-user-nav">
                    <li>
                        <div id="lang_sel">
                            <ul>
                                <li>
                                    <a href="#"><img src="assets/images/flag-4.png" alt="" /></a>
                                    <ul>
                                        <li class="icl-de"> <a href="#"><span class="icl_lang_sel_current"><img src="assets/images/flag-2.png" alt="" /></span></a> </li>
                                        <li class="icl-ar"> <a href="#"><span class="icl_lang_sel_current"><img src="assets/images/flag-4.png" alt="" /></span></a> </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="px-share"> <a href="#"><i class="icon-share2"></i></a>
                    <ul>
                        <li><a href="#" data-original-title="facebook"><i class="icon-facebook-square"></i></a></li>
                        <li><a href="#" data-original-title="twitter"><i class="icon-twitter2"></i></a></li>
                        <li><a href="https://www.instagram.com/lgsierraalta/" data-original-title="pinterest"><i class="icon-instagram"></i></a></li>
                        <li><a href="#" data-original-title="spot"><i class="icon-spotify2"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</header>-->


<header id="header">
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="logo mr-auto">
                    <a href="index.html"><img src="assets/images/logo.png" alt="" /></a>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="muestra text-center collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li><a href='index.html'>Home</a></li>
                        <li> <a href='#musica'>Musica</a>
                        </li>
                        <li><a href='#video'>Video</a></li>
                        <li><a href='#galeria'>Galeria</a></li>
                        <li><a href='#contacto'>CONTACT</a></li>
                    </ul>
                </div>

            </nav>

        </div>
    </div>
</header>