<footer id="footer">
    <section id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <li>

                        <p>
                            <i class="icon-mail6 mr-1"></i>
                            <span>Direccion de correo</span> sixtomartinezc@gmail.com
                        </p>
                    </li>
                    <!-- <div class="social-media">
                        <ul>
                            <li class="col-md-3">
                                <a href="#" data-original="facebook">
                                    <i class="icon-facebook9"></i>
                                    <span>Facebook</span>
                                </a>
                            </li>
                            <li class="col-md-3">
                                <a href="#" data-original="twitter">
                                    <i class="icon-twitter6"></i>
                                    <span>Twitter</span>
                                </a>
                            </li>
                            <li class="col-md-3">
                                <a href="#" data-original="soundcloud">
                                    <i class="icon-instagram"></i>
                                    <span>Instagram</span>
                                </a>
                            </li>
                            <li class="col-md-3">
                                <a href="#" data-original="spotify">
                                    <i class="icon-spotify"></i>
                                    <span>Spotify</span>
                                </a>
                            </li>
                        </ul>
                    </div>-->
                    <p>©2020 Music Html Template All rights reserved. Design by Manuel Martinez</p>
                </div>
            </div>
        </div>
    </section>
</footer>